.root {
    -fx-background-color: rgba(241, 236, 236, 0.7);
    -fx-font-family: "Segoe UI";
}


.text-field, .text-area {
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-padding: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #cfcfcf;
    -fx-background-color: #ffffff;
}

.combo-box, .spinner {
    -fx-pref-width: 400px;
}


.button{
    -fx-font-size: 14px;
    -fx-pref-height: 60;
    -fx-pref-width: 160;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.label {
    -fx-font-weight: bold;
    -fx-padding: 5 0;
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 20;
}

.text-area {
    -fx-pref-height: 80px;
}


.date-picker {
    -fx-pref-width: 400px;
}


.vbox {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 2);
}


/* View Reports */
.root-pane {
    -fx-padding: 20;
    -fx-background-color: #ffffff;
}

.header-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #2a2a2a;
    -fx-padding: 10 0 20 0;
    -fx-text-alignment: center;
}

.summary-box-total {
    -fx-padding: 15;
    -fx-background-color: #0f251a;
    -fx-border-color: #ddd;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.summary-box-pending {
    -fx-padding: 15;
    -fx-background-color: #06341f;
    -fx-border-color: #ddd;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.summary-box-progress {
    -fx-padding: 15;
    -fx-background-color: #046037;
    -fx-border-color: #ddd;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.summary-box-resolved {
    -fx-padding: 15;
    -fx-background-color: #0b9a5b;
    -fx-border-color: #ddd;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.summary-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.pie-chart {
    -fx-padding: 20;
    -fx-background-color: transparent;
}


/* welcome screen*/
.header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.primary-button {
    -fx-background-color: #3D9970;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
}

.primary-button:hover {
    -fx-background-color: #FF851B;
}

.primary-button-status {
    -fx-background-color: #FF851B;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
}

.primary-button-status:hover{
    -fx-background-color: #3D9970;
}

.primary-button-filter {
    -fx-background-color: #672e04;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-text-fill: white;
    -fx-padding: 6px 6px;
    -fx-font-size: 10px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
}

.primary-button-filter:hover{
    -fx-background-color: #FF851B;
}